1. JAVASCRIPT – Events

1. What is an Event?

=> JavaScript's interaction with HTML is handled through events. 
When the page loads, it is called an event. When the user clicks a button, that click too is an event. 

2. onclick Event Type

<script>
document.getElementById("myBtn").onclick = displayDate;

function displayDate() {
  document.getElementById("demo").innerHTML = Date();
}
</script>

3. onsubmit Event Type
<form id="myForm" action="/action_page.php">
    Enter name: <input type="text" name="fname">
    <input type="submit" value="Submit">
  </form>
  
  <script>
  document.getElementById("myForm").onsubmit = function() {func()};
  
  function func() {
    alert("The form was submitted");
  }
  </script>

4. onmouseover and onmouseout

<script>
    document.getElementById("demo").onmouseover = function() {mouseOver()};
    document.getElementById("demo").onmouseout = function() {mouseOut()};
</script>


5. HTML 5 Standard Events 

=> onkeypress,onkeyup,onload,onloadeddata etc...

2. JAVASCRIPT – Cookies

What are Cookies?
=> Cookies are data, stored in small text files, on your computer. When a web server has sent a web page to a browser, the connection is shut down, and the server forgets everything about the user.
Cookies are saved in name-value pairs like:
username = John Doe


2. How Does It Work? 
=> When a browser requests a web page from a server, cookies belonging to the page are added to the request. This way the server gets the necessary data to "remember" information about users.
3. Storing Cookies
=> document.cookie = "username=Amir Mehmood";
4. Reading Cookies 
=> JavaScript, cookies can be read like this:
let x = document.cookie;
5. Setting Cookies Expiry Date
=> document.cookie = "username=Amir Mehmood; expires=Thu, 18 Dec 2013 12:00:00 UTC";

6. Deleting a Cookie

You don't have to specify a cookie value when you delete a cookie.
document.cookie = "username=";

3. JAVASCRIPT – Page Redirect 

1. What is Page Redirection?
Redirect is nothing but a mechanism of send users on a different URL from the original one
function Redirect() {
    window.location = "https://www.abc.com";
 }

2. JavaScript Page Refresh

In JavaScript, you refresh the page using document.location.reload().
3. Auto Refresh

<script>
    function refreshPage()
    {
        window.location = window.location.href;
    }
    setInterval('refreshPage()', 5000);
</script>


4. How Page Redirection Works?

If you move the site to a separate domain or create a new URL for an old page, you should always use the server redirection.
location.href = 'new_url';

4. JAVASCRIPT – Dialog Box 
    1. Alert Dialog Box 
        An alert box is often used if you want to make sure information comes through to the user.
        window.alert("sometext");

    2. Confirmation Dialog Box
        The confirm() method displays a dialog box with a message, an OK button, and a Cancel button.

        confirm("Press a button!\nEither OK or Cancel.");

    3. Prompt Dialog Box
        The prompt() method displays a dialog box that prompts the user for input

        prompt("Please enter your name", "Amir Mehmood");


5. JAVASCRIPT – Void Keyword

    When a function is void, it means that the function returns nothing. This is similar to functions in JavaScript which return
        const result = void(1 + 1);
    console.log(result)
6. JAVASCRIPT – Page Printing 

    1. How to Print a Page?

    To print a page in JavaScript, use the print() method. It opens up the standard dialog box,

    <button onclick="display()">Click to Print</button>
    <script>
       function display() {
          window.print();
       }
    </script>